{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
    <script type="text/javascript" src="{% static 'js/history.js' %}"></script>
    <title>채팅방</title>
</head>
<body>
    <div class="container">
        <div id="top-title-area">
            <img src="{% static 'img/back-icon.svg' %}" onclick="history.back()" alt="뒤로가기">
            <div class="top-title">
                <p class="title">{{ room.room_title }}</p>
            </div>
            <div class="top-right-space">
                <img src="{% static 'img/back-icon.svg' %}">
            </div>
        </div>
        <div class="contents">
            {% for room in rooms %}
            <div class="order-space">
                <div class="order-space2">
                    <a class="order" href="{% url 'room' room.id %}">
                        <div class="left-space">
                            {% if room.user1.id == user_id %}
                                {% if room.user2.image %}
                                <div class="user-profile-pic-space">
                                    <img class="user-profile-pic" src="{{ room.user2.image.url }}" alt="사용자 프로필 사진">
                                </div>
                                {% else %}
                                <div class="user-profile-pic-space">
                                    <img class="user-profile-pic" src="{% static 'image/default-user-profile-pic.png' %}" alt="사용자 프로필 사진">
                                </div>
                                {% endif %}
                            {% else %}
                                {% if room.user1.image %}
                                <div class="user-profile-pic-space">
                                    <img class="user-profile-pic" src="{{ room.user1.image.url }}" alt="사용자 프로필 사진">
                                </div>
                                {% else %}
                                <div class="user-profile-pic-space">
                                    <img class="user-profile-pic" src="{% static 'image/default-user-profile-pic.png' %}" alt="사용자 프로필 사진">
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="order-preview-space">
                            <div class="order-preview" >
                                <p class="order-menu">방 제목 : {{room.room_title}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
          
        </div>
    </div>
    <!-- footer 시작 -->
    
    <!-- footer 끝 -->
</body>
</html>